.content-secondary { 
	display: none;
	height: 100%;
}
}
.content-primary {
	margin: 0px;
	padding: 0px;
}
.parking  {
	display: none;
}

.parking .ui-listview  {
	margin: 0px;
}


.Xui-collapsible .ui-icon {
  background-color: red;
}

.Xui-collapsible-collapsed .ui-icon{
  background-color: yellow;
}
.Xui-collapsible .cnt{
	display: none;
}
.Xui-collapsible-collapsed .cnt{
	display: block;
}

.Xcnt{
font-size: 11px;
font-weight: bold;
padding: 2px 5px 2px 5px;
margin-left: 5px;
	width: 1.3em;
	text-align: center;
}​


.content-primary h2 {
	position: absolute;
	left: -9999px;
}

.ui-li-twoBubble .ui-li-count {
	float: right;
	width: 1.6em;
	text-align: center;
	/*top: 25px;*/
}

.ui-li-twoBubble .ui-li-count:nth-child(odd) {
	margin-right: 3em;
	width: 1.6em;
	text-align: center;
}

.center {
	text-align: center;
}

.sign {
	padding: 2px;
}

.sign img {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@media all and (min-width: 500px) and (orientation:landscape) {
	#pageMain .ui-content {
		margin: 0;
		padding: 0;
	}
	#pageMain .content-primary {
		margin: 10px;
		padding: 0px;
	}

	#pageMain  #footerMain, #XheaderMain {
		display: none;
	}
	
.sign img {
		width: 40%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.content-secondary{
		margin-top: -15px;
		margin-left: -15px;
		height: 100%;
}

.content-secondary .ui-collapsible-set{
		margin-top: 0px;
		margin-left: 15px;
		margin-right: 15px;
}

	.parking {
		margin: 0px;
    	padding: 0;
}

.content-primary h2 {
		position: relative;
		left: 0px;
	}
	.Xui-content {
		margin: 0;
		padding: 0;
	}
	.Xcontent-secondary .ui-collapsible {
		padding: 0; /*10px 15px;*/
		margin: 0;
	}
	.Xcontent-secondary .ui-collapsible-inset {
		margin: 0;
	}
	.Xcontent-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-listview {
		margin: 0;
	}
/*	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}*/
	.Xcontent-secondary .ui-li-desc {
		padding-right: 10px;
	}
	.content-primary .ui-listview {
		margin: 0px;
	/*margin: 5px;
		/*margin-top: 5px;*/
	}

	.content-secondary {
		display: block;
		text-align: left;
		float: left;
		width: 35%;
		margin: 0px;
    	padding: 0px;
		background-color: black;
	}
	.content-primary {
		width: 60%;
		float: right;
		/*margin: 0;
    padding: 0;
		/*margin-right: 1%;
		padding-right: 1%;*/
	}
}

@media all and (orientation:portrait) {
}

@media all and (min-width: 500px) and (orientation:landscape) , ( min-width
	: 800px) and (orientation:portrait) {
}

@media all and (min-width: 800px) {
}

@media all and (min-width: 1200px) {
}